body{
  background-color: purple
}

ul{
  list-style-type: none;
}

.parent{
 display:grid;
 grid-template-columns: 45% 60% ;
 background-color: rgba(97, 8, 97, 0.794);
 text-align: center;
}

.title{
  padding:0px;
  margin:0px;
  background-color: purple;
  text-align: center;
  font-size: 30px;
}

button{
  font-size: 15px;
  float:right;
  margin:0px;
  margin-right:8px;

}
